.art-Museum {
  grid-column: 1 / -1;
  display: flex;

  @include onTablet {
    order: -1;
    grid-column: 1 / 4;
  }

  @include onDesctop {
    grid-column: 1 / 6;
  }

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    @include onTablet {
      justify-content: center;
    }
  }

  &__button {
    display: flex;
    align-items: center;

    @include onTablet {
      position: absolute;
      top: 75%;
    }

    @include onDesctop {
      right: 0;
    }
  }

  &__events-link {
    display: none;
    transform-origin: left;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 0;

    @include onDesctop {
      display: flex;
    }
  }
}
