.art-Museum {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @include onTablet {
    justify-content: center;
    order: -1;
    grid-column: 1 / 4;
    gap: 38px;
  }
}
