.buy-ticket {
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  border: 1px $border-color-on-button solid;
  display: flex;
  text-decoration: none;

  @include onTablet {
    width: 270px;
    height: 70px;
  }

  &__text {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-text-color;
  }

  &__arrow {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: $border-color-on-button;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
