.carousel {
  &__container {
    height: 410px;
    overflow: hidden;
    margin-inline: -$container-padding-on-mobile;
    margin-bottom: 20px;

    @include onTablet {
      height: 543px;
      margin-bottom: 32px;
      margin-inline: -$container-padding-on-tablet;
    }

    @include onDesctop {
      height: auto;
      margin: 0;
      overflow: visible;
    }
  }

  &__items {
    scroll-behavior: smooth;
    box-sizing: content-box;
    display: flex;
    height: 100%;
    gap: 16px;
    padding-inline: $container-padding-on-mobile;
    padding-bottom: 30px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    @include onTablet {
      gap: 20px;
      padding-inline: $container-padding-on-tablet;
      scroll-padding-inline: $container-padding-on-tablet;
    }

    @include onDesctop {
      padding: 0;
      overflow: visible;
      box-sizing: border-box;

      grid-template-rows: 600px 360px;
      gap: 30px;

      @include pageGrid;
    }
  }

  &__item {
    object-fit: cover;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    transition: transform 300ms;

    &:hover {
      @include onDesctop {
        transform: scale(1.05);
      }
    }

    @include onTablet {
      width: calc(50% - 10px); // 50% - gap / 2
      scroll-snap-align: start;
    }

    @include onDesctop {
      width: 100%;

      &:nth-child(1) {
        grid-column: 1 / 5;
      }

      &:nth-child(2) {
        grid-column: 5 / -1;
      }

      &:nth-child(3) {
        grid-column: 1 / 9;
      }

      &:nth-child(4) {
        grid-column: 9 / -1;
      }
    }
  }

  &__dots {
    display: flex;
    gap: 22px;
    justify-content: center;

    @include onDesctop {
      display: none;
    }
  }

  &__dot {
    width: 9px;
    height: 9px;
    background-color: #e0e0e0;
    border-radius: 50%;

    transition: background-color 300ms;

    &--active {
      background-color: #1a5a4c;
    }

    &:last-child {
      @include onTablet {
        display: none;
      }
    }
  }
}
