.icon {
  height: 24px;
  width: 24px;
  display: block;

  &--burger-menu {
    background-image: url(../images/icons/burger-menu.svg);
    position: absolute;
    top: $page-vertical-padding-mobile;
    left: $container-padding-on-mobile;
    z-index: 1;

    @include onTablet {
      top: $page-vertical-padding-tablet;
      left: $container-padding-on-tablet;
    }

    @include onDesctop {
      left: $container-padding-on-desctop;
    }
  }

  &--close {
    background-image: url(../images/icons/close.svg);
  }
}
