.lecture-event {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    position: relative;
    margin-top: 60px;
    padding-inline: $container-padding-on-mobile;

    @include onTablet {
      margin-top: 112px;
      padding-inline: $container-padding-on-tablet;
    }

    @include onDesctop {
      margin-top: 104px;
      padding-inline: $container-padding-on-desctop;
    }
  }

  &__img {
    display: block;
    object-fit: cover;
    height: 210px;
    width: calc(100% + $container-padding-on-mobile * 2);

    @include onTablet {
      height: 390px;
      width: 100%;
    }

    @include onDesctop {
      height: 550px;
      width: calc(100% + $container-padding-on-desctop * 2);
    }
  }

  &__about {
    position: relative;
    margin-top: -55px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #1a5a4c40;

    @include onTablet {
      gap: 16px;
      padding: 45px 55px 50px;
      margin-top: -85px;
      width: 570px;
    }

    @include onDesctop {
      padding-inline: 100px;
      margin-top: -102px;
    }
  }

  &__info {
    padding-inline: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include onTablet {
      justify-content: start;
      gap: 140px;
      padding: 0;
    }

    @include onDesctop {
      gap: 130px;
    }
  }

  &__type {
    color: #687480;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;

    @include onTablet {
      font-size: 14px;
      width: 100px;
    }

    @include onDesctop {
      width: 70px;
    }
  }

  &__date {
    color: #1a5a4c;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    @include onTablet {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__name {
    text-align: center;

    @include onTablet {
      text-align: start;
    }
  }
}
