.main {
  &__events {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 88px;
    }

    @include onDesctop {
      margin-bottom: 200px;
    }
  }

  &__galery {
    margin-bottom: 100px;

    @include onTablet {
      margin-bottom: 92px;
    }

    @include onDesctop {
      margin-bottom: 200px;
    }
  }

  &__aboutUs {
    position: relative;
    margin-bottom: 18px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
