@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onTablet {
  @media (min-width: $tablet-size) {
    @content;
  }
}

@mixin onDesctop {
  @media (min-width: $desctop-size) {
    @content;
  }
}

@mixin pageGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;

  @include onTablet {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
  }

  @include onDesctop {
    grid-template-columns: repeat(12, 1fr);
  }
}
