$tablet-size: 768px;
$desctop-size: 1280px;

$container-padding-on-mobile: 20px;
$container-padding-on-tablet: 39px;
$container-padding-on-desctop: 55px;

$main-text-color: #0F0E08;
$border-color-on-button: #1A5A4C;
