$tablet-size: 768px;
$desctop-size: 1280px;
$container-padding-on-mobile: 20px;
$container-padding-on-tablet: 34px;
$container-padding-on-desctop: 55px;
$page-vertical-padding-mobile: 27px;
$page-vertical-padding-tablet: 39px;
$main-text-color: #0f0e08;
$secondary-text-color: #687480;
$border-color-on-button: #1a5a4c;
$menu-gap-mobile: 24px;
$menu-gap-tablet: 38px;
$menu-gap-desctop: 102px;
